<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lets Play</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="theme-color" content="#191525" />
  </head>
  <body>
    <div class="profile">
      <div>
        <img class="avatar" src="<%= user._json.logo %>" />
      </div>
      <div>
        <h1>Welcome <strong><%= user._json.display_name %></strong></h1>
      </div>
    </div>
    <div id="app">
      <div class="controller">
        <div class="dpad">
          <div
            :class="{active: up}"
            @mousedown="clickDown('up')"
            @mouseup="clickUp('up')"
            @touchstart="clickDown('up')"
            @touchend="clickUp('up')"
            class="cbutton dup"
          ></div>
          <div
            :class="{active: down}"
            @mousedown="clickDown('down')"
            @mouseup="clickUp('down')"
            class="cbutton ddown"
            @touchstart="clickDown('down')"
            @touchend="clickUp('down')"
          ></div>
          <div
            :class="{active: left}"
            @mousedown="clickDown('left')"
            @mouseup="clickUp('left')"
            class="cbutton dleft"
            @touchstart="clickDown('left')"
            @touchend="clickUp('left')"
          ></div>
          <div
            :class="{active: right}"
            @mousedown="clickDown('right')"
            @mouseup="clickUp('right')"
            class="cbutton dright"
            @touchstart="clickDown('right')"
            @touchend="clickUp('right')"
          ></div>
        </div>
        <div class="dbuttons">
          <div
            :class="{active: y}"
            @mousedown="clickDown('y')"
            @mouseup="clickUp('y')"
            @touchstart="clickDown('y')"
            @touchend="clickUp('y')"
            class="cpad dy"
          ></div>
          <div
            :class="{active: x}"
            @mousedown="clickDown('x')"
            @mouseup="clickUp('x')"
            @touchstart="clickDown('x')"
            @touchend="clickUp('x')"
            class="cpad dx"
          ></div>
          <div
            :class="{active: b}"
            @mousedown="clickDown('b')"
            @mouseup="clickUp('b')"
            @touchstart="clickDown('b')"
            @touchend="clickUp('b')"
            class="cpad db"
          ></div>
          <div
            :class="{active: a}"
            @mousedown="clickDown('a')"
            @mouseup="clickUp('a')"
            @touchstart="clickDown('a')"
            @touchend="clickUp('a')"
            class="cpad da"
          ></div>
        </div>

        <div class="dmenu">
          <div
            :class="{active: select}"
            @mousedown="clickDown('select')"
            @mouseup="clickUp('select')"
            @touchstart="clickDown('select')"
            @touchend="clickUp('select')"
            class="mpad select"
          ></div>
          <div
            :class="{active: start}"
            @mousedown="clickDown('start')"
            @mouseup="clickUp('start')"
            @touchstart="clickDown('start')"
            @touchend="clickUp('start')"
            class="mpad start"
          ></div>
        </div>
        <div class="tpad">
          <div
            :class="{active: l}"
            @mousedown="clickDown('l')"
            @mouseup="clickUp('l')"
            @touchstart="clickDown('l')"
            @touchend="clickUp('l')"
            class="sbutton sl"
          ></div>
          <div
            :class="{active: r}"
            @mousedown="clickDown('r')"
            @mouseup="clickUp('r')"
            @touchstart="clickDown('r')"
            @touchend="clickUp('r')"
            class="sbutton sr"
          ></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      const keycodes = {
        38: "up",
        40: "down",
        37: "left",
        39: "right",
        86: "a",
        67: "b",
        88: "y",
        68: "x",
        32: "start",
        13: "select",
        65: "l",
        13: "r"
      };
      var socket = io("http://76.171.69.252:7911");
      var app = new Vue({
        el: "#app",
        data: {
          up: false,
          down: false,
          left: false,
          right: false,
          b: false,
          a: false,
          y: false,
          x: false,
          start: false,
          select: false,
          l: false,
          r: false
        },
        created() {
          document.onkeydown = this.onkeydown.bind(this);
          document.onkeyup = this.onkeyup.bind(this);
        },
        methods: {
          clickDown: function(button) {
            socket.emit(
              button,
              `<%= user._json.display_name %> has pressed ${button}`
            );
          },
          clickUp: function(button) {
            socket.emit(
              `r${button}`,
              `<%= user._json.display_name %> has released ${button}`
            );
          },
          onkeydown(e) {
            e.preventDefault();
            let code = keycodes[e.keyCode];
            if (code === undefined) return;
            this[code] = true;
            `<%= user.button %>` = keycodes[e.keyCode]
            socket.emit(code, `<%= user %>`);
          },
          onkeyup(e) {
            e.preventDefault();
            let code = keycodes[e.keyCode];
            if (code === undefined) return;
            this[code] = false;
            socket.emit(`r${code}`, `<%= user %>`);
          }
        }
      });
    </script>
  </body>
</html>
